In [214]:
import pandas as pd
import numpy as np

In [215]:
df = pd.read_csv('Trees.csv')

In [216]:
df.head()

,common name,botanical name,replacement species,street number,street name,side,diameter in inches,height in feet,date last pruned,target year (fiscal year),latitude,longitude,location
0,MEXICAN FAN PALM,Washingtonia robusta,"Brahea armata, Pinus torreyana (east side only)",101,OCEAN AVE,SIDE,13-18,60+,NaN,2015,34.012933,-118.496549,"(34.0129331655, -118.496549373)"
1,NEW ZEALAND CHRISTMAS TREE,Metrosideros excelsus,Banksia integrifolia,101,STRAND ST,FRONT,07-12,15-30,NaN,2018,34.003970,-118.487973,"(34.0039703471, -118.487973113)"
2,MEXICAN FAN PALM,Washingtonia robusta,Metrosideros excelsus,101,OCEAN AVE,SIDE,13-18,60+,NaN,2014,34.003947,-118.488199,"(34.003946732, -118.488198906)"
3,NEW ZEALAND CHRISTMAS TREE,Metrosideros excelsus,Banksia integrifolia,103,STRAND ST,FRONT,13-18,15-30,NaN,2018,34.004081,-118.487817,"(34.0040807285, -118.487816913)"
4,SOUTHERN MAGNOLIA,Magnolia grandiflora,Magnolia grandiflora,110,SAN VICENTE BLVD,SIDE,0-6,01-15,NaN,2018,34.034385,-118.506851,"(34.0343845019, -118.506851295)"

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35235 entries, 0 to 35234
Data columns (total 13 columns):
common name                  35235 non-null object
botanical name               35235 non-null object
replacement species          28324 non-null object
street number                35235 non-null int64
street name                  29197 non-null object
side                         35235 non-null object
diameter in inches           35235 non-null object
height in feet               35235 non-null object
date last pruned             97 non-null object
target year (fiscal year)    35235 non-null int64
latitude                     35235 non-null float64
longitude                    35235 non-null float64
location                     35235 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 3.5+ MB

In [218]:
df.shape

(35235, 13)

In [219]:
# format column headers to title format

col_names = list(df.columns)
col_titles = list()

for name in col_names:
    col_titles.append(name.title())
    
df.columns = col_titles

In [220]:
df.head()

,Common Name,Botanical Name,Replacement Species,Street Number,Street Name,Side,Diameter In Inches,Height In Feet,Date Last Pruned,Target Year (Fiscal Year),Latitude,Longitude,Location
0,MEXICAN FAN PALM,Washingtonia robusta,"Brahea armata, Pinus torreyana (east side only)",101,OCEAN AVE,SIDE,13-18,60+,NaN,2015,34.012933,-118.496549,"(34.0129331655, -118.496549373)"
1,NEW ZEALAND CHRISTMAS TREE,Metrosideros excelsus,Banksia integrifolia,101,STRAND ST,FRONT,07-12,15-30,NaN,2018,34.003970,-118.487973,"(34.0039703471, -118.487973113)"
2,MEXICAN FAN PALM,Washingtonia robusta,Metrosideros excelsus,101,OCEAN AVE,SIDE,13-18,60+,NaN,2014,34.003947,-118.488199,"(34.003946732, -118.488198906)"
3,NEW ZEALAND CHRISTMAS TREE,Metrosideros excelsus,Banksia integrifolia,103,STRAND ST,FRONT,13-18,15-30,NaN,2018,34.004081,-118.487817,"(34.0040807285, -118.487816913)"
4,SOUTHERN MAGNOLIA,Magnolia grandiflora,Magnolia grandiflora,110,SAN VICENTE BLVD,SIDE,0-6,01-15,NaN,2018,34.034385,-118.506851,"(34.0343845019, -118.506851295)"

# General Formatting

In [221]:
def clean_strings(string):
    string = str(string)
    string = string.title()
    return string

In [222]:
df['Common Name'] = df['Common Name'].apply(clean_strings)
#df['Botanical Name'] = df['Botanical Name'].apply(clean_strings)
df['Replacement Species'] = df['Replacement Species'].apply(clean_strings)
df['Street Name'] = df['Street Name'].apply(clean_strings)
df['Side'] = df['Side'].apply(clean_strings)

In [223]:
df.head()

,Common Name,Botanical Name,Replacement Species,Street Number,Street Name,Side,Diameter In Inches,Height In Feet,Date Last Pruned,Target Year (Fiscal Year),Latitude,Longitude,Location
0,Mexican Fan Palm,Washingtonia robusta,"Brahea Armata, Pinus Torreyana (East Side Only)",101,Ocean Ave,Side,13-18,60+,NaN,2015,34.012933,-118.496549,"(34.0129331655, -118.496549373)"
1,New Zealand Christmas Tree,Metrosideros excelsus,Banksia Integrifolia,101,Strand St,Front,07-12,15-30,NaN,2018,34.003970,-118.487973,"(34.0039703471, -118.487973113)"
2,Mexican Fan Palm,Washingtonia robusta,Metrosideros Excelsus,101,Ocean Ave,Side,13-18,60+,NaN,2014,34.003947,-118.488199,"(34.003946732, -118.488198906)"
3,New Zealand Christmas Tree,Metrosideros excelsus,Banksia Integrifolia,103,Strand St,Front,13-18,15-30,NaN,2018,34.004081,-118.487817,"(34.0040807285, -118.487816913)"
4,Southern Magnolia,Magnolia grandiflora,Magnolia Grandiflora,110,San Vicente Blvd,Side,0-6,01-15,NaN,2018,34.034385,-118.506851,"(34.0343845019, -118.506851295)"

# Common Name

In [224]:
# count of different common names
len(df['Common Name'].value_counts())

263

In [225]:
df.loc[df['Common Name'].str.contains('Chaste')]

,Common Name,Botanical Name,Replacement Species,Street Number,Street Name,Side,Diameter In Inches,Height In Feet,Date Last Pruned,Target Year (Fiscal Year),Latitude,Longitude,Location
28228,Chaste Tree,Vitex agnus-castus,"Cedrus Deodara, Cedrus Atlantica, Magnolia Gra...",224,15Th St,Front,0-6,01-15,NaN,2014,34.038946,-118.501398,"(34.0389457167, -118.501397562)"

In [226]:
# consolidate common names
#def common_name(name):
#    if 'Gum' in name and 'Red' in name:
#        return 'Red Flowering Gum'
#    #elif 
#    else: return name

In [227]:
#df['Common Name'] = df['Common Name'].apply(common_name)

In [228]:
#df.loc[df['Common Name'].str.contains('Gum')]['Common Name'].value_counts()

In [229]:
# count of different common names
len(df['Common Name'].value_counts())

263

# Botanical Name

In [230]:
# count of different common names
len(df['Botanical Name'].value_counts())

264

In [231]:
# consolidate common names
def botanical_name(name):
    if name == 'Ulmus parvifolia \'Drake\'':
        return 'Ulmus parvifolia'
    elif name == 'Cedrus atlantica \'Glauca\'':
        return 'Cedrus atlantica'
    elif name == 'Cercis canadensis \'Forest Pansy\'':
        return 'Cercis canadensis'
    elif name == 'Eucalyptus leucoxylon \'Rosea\'':
        return 'Eucalyptus leucoxylon'
    elif name == 'Ficus microcarpa \'Nitida\'':
        return 'Ficus microcarpa'
    elif name == 'Fraxinus uhdei \'Tomlinson\'':
        return 'Fraxinus uhdei'
    elif name == 'Ginkgo biloba \'Autumn Gold\'':
        return 'Ginkgo biloba'
    elif name == 'Juniperus chinensis \'Torulosa\'':
        return 'Juniperus chinensis'
    elif name == 'Liquidambar styraciflua \'Rotundiloba\'':
        return 'Liquidambar styraciflua'
    elif name == 'Lophostemon confertus \'Variegata\'':
        return 'Lophostemon confertus'
    elif name == 'Magnolia grandiflora \'Samuel Sommer\'':
        return 'Magnolia grandiflora'
    elif name == 'Prunus cerasifera \'Krater Vesuvius\'':
        return 'Prunus cerasifera'
    #elif 
    else: return name

In [232]:
df['Botanical Name'] = df['Botanical Name'].apply(botanical_name)

In [233]:
len(df['Botanical Name'].value_counts())

252

# Export Cleaned CSV

In [234]:
# export df as csv
df.to_csv('Cleaned_Trees.csv')